<html>
<body>


 <div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Title</a>
    <ul class="nav">
      <li class="active"><a href="#">首页</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>


<div class="container">


    <div class="row">

      <div class="span12">
        <table class="table table-bordered">

          <tbody>
            <tr  class="success">
              <td rowspan="4" style="text-align: center;vertical-align: middle;">科目</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>

              <td rowspan="4" style="text-align: center;vertical-align: middle;">年级</td>
              <td>Mark</td>

              <td>@mdo</td>
              <td>@mdo</td>
              <td rowspan="4" style="text-align: center;vertical-align: middle;">版本</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>


            </tr>
            <tr  class="success">
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              
            </tr>
            <tr   class="success">

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>

              <td>@mdo</td>
              <td>@mdo</td>

            </tr>
            <tr class="success">

              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>
    

    <div class="row">
      <div class="span3" style="background-color: #bbd8e9;">
        <ul>
          <li>aaaaaaaaaaa</li>
          <ul>
            <li>bbb</li>
            <li>bb</li>
            <li>bb</li>
            <li>bb</li>
          </ul>
        </ul>
        
        <ul>
          <li>aaaaaaaaaaa</li>
          <ul>
            <li>bbb</li>
            <li>bb</li>
            <li>bb</li>
            <li>bb</li>
          </ul>
        </ul>
        
        <ul>
          <li>aaaaaaaaaaa</li>
          <ul>
            <li>bbb</li>
            <li>bb</li>
            <li>bb</li>
            <li>bb</li>
          </ul>
        </ul>
      </div>
      <div class="span9">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs" style="margin-top:4px;">
            <li class="active" style="margin-left:8px;"><a href="#tab1" data-toggle="tab">Section 1</a></li>
            <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
          </ul>
          <div class="tab-content" style="background-color: #dceaf4; ">
            <div class="tab-pane active" id="tab1">
              <p>I'm in Section 1.</p>
              
              <div class="pagination">
                <ul>
                  <li><a href="#">Prev</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">Next</a></li>
                </ul>
              </div>


            </div>
            
            
              
              
            <div class="tab-pane" id="tab2"  style="background-color: #dceaf4;">
              <p>Howdy, I'm in Section 2.</p>
              <div class="pagination">
                <ul>
                  <li><a href="#">Prev</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">Next</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div> <!-- end row -->
  
  
  
</div>
</body>
</html>

