<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">6bey问答</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li>问题</li>
            <li>待解决问题</li>
            <li>联系我们</li>
            <li>标签</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
