<div class="row">

      <div class="span12">
        <table class="table table-bordered">

          <tbody>

	    <% @courses.each_slice(6) do |slice| %>
		
		<tr>
		<% slice.each do |course|%>
		  <td><%= course.name %></td>
		<% end %>
		</tr>
	    <% end%>




            <% @grades.each_slice(6) do |slice| %>

                <tr>
                <% slice.each do |grade|%>
                  <td><%= grade.name %></td>
                <% end %>
		</tr>
            <% end%>

            <% @places.each_slice(6) do |slice| %>

                <tr>
                <% slice.each do |place|%>
                  <td><%= place.name %></td>
                <% end %>
		</tr>
            <% end%>
          </tbody>
        </table>
      </div>
</div>
