<div class="row">

      <div class="span12">
        <table class="table  table-bordered">

          <tbody>

	    <% @courses.each_slice(6) do |slice| %>
		
		<tr class="success">
		<% slice.each do |course|%>
		  <td><%= course.name %></td>
		<% end %>

	    <% end%>


          </tbody>
        </table>
      </div>
</div>
