<div class="span3" style="height:500px;background-color:#d1e4dc;">
  <ul>
    <li>
      <% @chapters.each do |chapter|%>
        <%= chapter.name %>
      <% end %>
    </li>

    <ul>
      <% @sections.each do |section|%>
        <li><%= section.name %></li>
      <% end %>

    </ul>
  </ul>

</div>
